.env
.gitlab-ci.yml
wiki/
back/.env
back/.mem.db
back/target
client/node_modules
yew/target
yew/node_modules
yew/.cache
back/mem.db-shm
back/mem.db-wal
scripts/inv
data/pg/pg.env
data/pg/pgadmin.env
data/redis/redis.env
data/redis/redis.conf
