/target
.env
mem.db
.gitlab-ci.yml
/wiki
/pg
/data
back/.env
back/.mem.db
back/target
compose.yml
deploy.yml
/client/node_modules
/yew_cli/target
/yew_cli/node_modules
/yew_cli/.cache
/back/mem.db-shm
/back/mem.db-wal
