body {
    padding: 10px;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #282728;
    font-weight: 400;
  }


  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav ul {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

nav li {
  display: block;
  float: center;
  padding: 10px;
  text-decoration: none;
}

.app {
  text-align: center;
}

.app-logo {
  display: block;
  pointer-events: none;
  width: 200px;
  height: 200px;
  background: url(./logo.svg);
  background-size: 200px 200px;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

.navbar {
    display: inline-block;
    position: fixed;
    text-decoration: none;
}
.nav {
    float: left;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000;

}
.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
